.navbar-size
{
	height: 170px;
}

.form-fixed
{
	margin: 5px;
}

.input-assertation
{
	border: 0px none;
	font-size: 3em;
	height: 2em;
	text-align: center;
}

.tentativas
{
	margin-top: 175px;
}

.exib-assertation
{
	font-size: 1em;
	letter-spacing: 0.5em;
}

.exib-resultado-assertation
{
	font-size: 1em !important;
	margin-top: 0.25em;
}