<nav class="navbar navbar-default navbar-fixed-top navbar-size">
	<div class="container">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-horizontal form-fixed">
					<div class="form-group">
						<div class="form-control input-group">
							<input type="text" maxlength=1 class="input-assertation" ng-class="[cssColum.column, $first ? cssColum.offset : '']" ng-repeat="assertValue in assertation track by $index" ng-model="assertation[$index]" />
							
							<div class="col-lg-12 text-center">
								<button class="btn btn-primary" ng-click="compare()">
									Tentar
								</button>
							</div>
						</div>
						<h5 class="text-center">
							Tentativas realizadas: {{game.tries.length}}
						</h5>
					</div>
				</form>
			</div>
	</div>
</nav>
<div class="tentativas container">
	<div class="col-lg-4 col-lg-offset-4">
		<ul class="list-group">
			<li class="list-group-item text-center" ng-repeat="userTry in game.tries">
				<span class="exib-assertation text-center">
					{{userTry.userTry.join(' ')}}
				</span>
				<div class="badge exib-resultado-assertation">
					{{userTry.resultado.formatado}}
				</div>
			</li>
		</ul>
	</div>
</div>

<modal-dialog show="true">
		
</modal-dialog>
